// colors
$primary-color: #222;

// hr margin
$hr-margin: 100px 0px 50px 0px;

//section-padding
$section-padding: 40px 0px 40px 0px;

//hr height
$hr-height: 1.2px;

//abt-img border
$img-border: 3px solid #a0a0a0;
$radius: 3px;