/* line 2, ../sass/base/_base.scss */
hr {
  margin: 100px 0px 50px 0px;
}

/* line 7, ../sass/base/_base.scss */
.section-padding {
  padding: 40px 0px 40px 0px;
}

/* line 1, ../sass/modules/_about.scss */
.about {
  background-color: #222;
  color: #333;
}
