/* line 2, ../sass/base/_base.scss */
hr {
  margin: 100px 0px 50px 0px;
  height: 1.2px;
  background-color: #222;
}

/* line 9, ../sass/base/_base.scss */
.section-padding {
  padding: 40px 0px 40px 0px;
}

/* line 13, ../sass/base/_base.scss */
.about-img {
  border: 3px solid #a0a0a0;
  border-radius: 3px;
}

/* line 19, ../sass/base/_base.scss */
.book {
  margin: 0 0 10px 0;
}

/* line 1, ../sass/modules/_logo.scss */
.logo {
  position: absolute;
  top: 250px;
  left: 400px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px 0 30px 0;
}

/* line 1, ../sass/modules/_navbar.scss */
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

/* line 7, ../sass/modules/_navbar.scss */
.affix + .container {
  padding-top: 100px;
}

/* line 11, ../sass/modules/_navbar.scss */
nav ul li {
  padding: 20px 15px 18px 15px;
}

/* line 15, ../sass/modules/_navbar.scss */
nav ul li:hover {
  background-color: #333;
}

/* line 1, ../sass/modules/_css-slider.scss */
.room ul {
  position: relative;
  top: 50px;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/modules/_css-slider.scss */
.room ul li {
  list-style: none;
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
}

/* line 23, ../sass/modules/_css-slider.scss */
.room ul li:nth-child(1) {
  width: 20%;
  background: url(..//img/Queen-Room.jpg);
  background-size: cover;
  background-position: left;
}

/* line 30, ../sass/modules/_css-slider.scss */
.room ul li:nth-child(2) {
  background: url(..//img/Boomtown.jpg);
  background-size: cover;
  background-position: left;
}

/* line 36, ../sass/modules/_css-slider.scss */
.room ul li:nth-child(3) {
  background: url(..//img/21.jpg);
  background-size: cover;
  background-position: left;
}

/* line 42, ../sass/modules/_css-slider.scss */
.room ul li:nth-child(4) {
  background: url(..//img/best1.jpg);
  background-size: cover;
  background-position: left;
}

/* line 48, ../sass/modules/_css-slider.scss */
.room ul li:nth-child(5) {
  background: url(..//img/room1.jpg);
  background-size: cover;
  background-position: left;
  float: right;
}

/* line 55, ../sass/modules/_css-slider.scss */
.room ul:hover li {
  width: 10%;
}

/* line 59, ../sass/modules/_css-slider.scss */
.room ul li:hover {
  width: 60%;
}

/* line 63, ../sass/modules/_css-slider.scss */
.room ul li .content {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  color: #fff;
  opacity: 0;
}

/* line 74, ../sass/modules/_css-slider.scss */
.room ul li:hover .content {
  bottom: 0;
  transition: 0.5s;
  transition-delay: 0.2s;
  opacity: 1;
}

/* line 1, ../sass/modules/_service-icons.scss */
.service-icon {
  color: #333;
  background: #ccc;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  font-size: 45px;
  transition: 0.6s ease;
  padding-top: 10%;
}

/* line 13, ../sass/modules/_service-icons.scss */
.service-icon:hover {
  color: #ccc;
  background: #333;
}

/* line 1, ../sass/modules/_messages.scss */
.message {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-family: "Lucida Console";
  padding-left: 10px;
}

/* line 10, ../sass/modules/_messages.scss */
input.message {
  margin: 0px 0px 20px 0px;
  padding: 40px 0 10px 10px;
}

/* line 16, ../sass/modules/_messages.scss */
textarea.message {
  height: 150px;
  resize: none;
  margin-top: 20px;
}

/* line 22, ../sass/modules/_messages.scss */
.submit {
  margin-top: 30px;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  background-color: #9b9b9b;
  color: #000;
  height: 40px;
  width: 125px;
  font-family: "Maiandra GD";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
}
/* line 37, ../sass/modules/_messages.scss */
.submit:hover {
  background-color: #ccc;
  color: #000;
}

/* line 43, ../sass/modules/_messages.scss */
.contact-form > h4 {
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "consolas";
  font-weight: bold;
}
