.message{
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	font-family: "Lucida Console";
	padding-left: 10px;
}

input.message{
	margin: 0px 0px 20px 0px;
	padding: 40px 0 10px 10px;

}

textarea.message{
	height: 150px;
	resize: none;
	margin-top: 20px;
}

.submit{
	margin-top: 30px;
	border: none;
	border-radius: 3px;
	box-shadow: none;
	background-color: #9b9b9b;
	color: #000;
	height: 40px;
	width: 125px;
	font-family: "Maiandra GD";
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	outline: none;

	&:hover{
		background-color: #ccc;
		color: #000;
	}
}

.contact-form>h4{
	font-size: 15px;
	letter-spacing: 2px;
	font-family: "consolas";
	font-weight: bold;
}