.service-icon{
	color: #333;
    background: #ccc;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    font-size: 45px;
    transition: 0.6s ease;
    padding-top: 10%;
}

.service-icon:hover{
	color: #ccc;
	background: #333;
}

@media only screen and (max-width: 760px) {

    .s-icon{
        margin-top: 50px;
    }
    
}

@media only screen and (min-width: 760px) {

    .s-margin{
        margin-top: 50px;
    }
    
}