.service-icon{
	color: #333;
    background: #ccc;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    font-size: 45px;
    transition: 0.6s ease;
    padding-top: 10%;
}

.service-icon:hover{
	color: #ccc;
	background: #333;
}
